{
  "extends": ["airbnb-base"],
  "rules": {
    "class-methods-use-this": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      },
      "babel-module": {}
    }
  }
}